/* =========================================
   CAMBIAR PASSWORD
========================================= */

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CARD */
.card-custom {
    background: white;
    border-radius: 25px;
    padding: 25px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
}

/* BODY */
.card-body-custom {
    padding: 10px 20px;
}

/* TITULO */
.card-custom h3 {
    font-weight: bold;
}

/* RESPONSIVE */
@media (max-width: 768px) {

    .card-custom {
        padding: 20px;
        border-radius: 20px;
    }

    h3 {
        font-size: 20px;
    }
}

@media (max-width: 576px) {

    .card-custom {
        padding: 15px;
    }

    .form-control {
        font-size: 14px;
    }
}