<aside class="sidebar" id="sidebar">

    <div class="sidebar-top">

        <div class="sidebar-header">

            <img
                src="/img/Logo.png"
                alt="Logo Margarita"
                class="sidebar-logo">

            <h4>Procesados Margarita</h4>

            <span>ERP Empresarial</span>

        </div>

        <nav
            class="sidebar-menu"
            id="menuDinamico">

        </nav>

    </div>

    <div class="sidebar-bottom">

        <div
            class="usuario-sidebar"
            id="btnPerfil">

            <div class="usuario-info-block">

                <div class="avatar-sidebar">

                    <i class="fas fa-user"></i>

                </div>

                <div class="datos-sidebar">

                    <span id="nombre">
                        Cargando...
                    </span>

                    <small id="rol">
                        ...
                    </small>

                    <small id="cargo">
                    </small>

                </div>

            </div>

        </div>

        <a
            href="#"
            id="btnLogout"
            class="sidebar-logout">

            <i class="fas fa-power-off"></i>

            Cerrar Sesión

        </a>

    </div>

</aside>